sphinxdocs/_build
sphinxdocs/venv-tmp/
tester/target/
tester/target-asan/
tester/tempdir/
bin-*/
/bin/

# release soak suite output
mini-scripts/soak-logs/
tester/target-debugminion/
tester/target-domassert/
sphinxdocs/.venv/
