#include "../minion.h"
/* Minion Constraint Solver
   http://minion.sourceforge.net
   
   For Licence Information see file LICENSE.txt 
*/

#include "../constraints/constraint_occurrence.h"

template<typename T1, typename T3>
AbstractConstraint*
BuildCT_OCCURRENCE(StateObj* stateObj, const T1& t1, const T3& t3, ConstraintBlob& b)
{
  int val_to_count = b.constants[0][0];
  return OccEqualCon(stateObj, t1, runtime_val(val_to_count), t3[0]);
}

BUILD_CT(CT_OCCURRENCE, 2)
