#include "../minion.h"
/* Minion Constraint Solver
   http://minion.sourceforge.net
   
   For Licence Information see file LICENSE.txt 
*/

#include "../constraints/constraint_shortstr2.h"

template<typename VarArray>
AbstractConstraint*
BuildCT_SHORTSTR2(StateObj* stateObj, const VarArray& var_array, ConstraintBlob& b)
{ return new ShortSTR2<VarArray>(stateObj, var_array, b.tuples); }

BUILD_CT(CT_SHORTSTR2, 1)
